@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.text-gradient-primary {
  background-image: linear-gradient(to right, #e0a800, #f9b500, #ffcc2a);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

/* Untuk animasi yang lebih smooth */
.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 700ms;
}

.translate-y-6 {
  transform: translateY(1.5rem);
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-fade-in-up {
  animation: fadeInUp 0.8s ease-out forwards;
}

.animate-fade-in-right {
  animation: fadeInRight 0.8s ease-out forwards;
}

.slide-content > * {
  opacity: 0;
}

.slide-active .slide-content > * {
  opacity: 1;
}
.mounted .slide-active .slide-content h2,
.mounted .slide-active .slide-content p,
.mounted .slide-active .slide-content button {
  opacity: 1 !important;
  transform: translateY(0) !important;
}
.contact-bar-transition {
  transition: all 0.3s ease-in-out;
  transform: translateZ(0);
}